@import 'colors';

#App {
  display: grid;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  background: $blue;

  width: 100vw;
  height: 70px;
  z-index: 10;

  #lab-name {
    flex: 2;
    text-decoration: none;

    h1 {
      justify-self: start;
      font-size: 36px;
      margin-top: 0.5rem;
      color: white;
      padding-left: 2rem;
    }
  }

  section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;

    margin: auto;
    justify-content: space-evenly;

    a {
      margin: auto;
      text-decoration: none;
      color: black;
    }
  }
}

#container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  min-height: 30rem;

  #intro-box {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgb(87, 188, 144);
    background: linear-gradient(
      0deg,
      rgba(87, 188, 144, 1) 22%,
      rgba(119, 201, 212, 1) 100%
    );
    justify-content: center;
    align-items: center;

    section {
      font-size: 36px;

      // letters fade from black to yellow with neon glow
      .span-1 {
        animation: hl linear 6s infinite;
        animation-delay: 0s;
        -webkit-animation: hl linear 6s infinite;
        -moz-animation: hl linear 6s infinite;
        -o-animation: hl linear 6s infinite;
        -ms-animation: hl linear 6s infinite;
      }

      // Letters fade in and out from 10% - 100% opacity
      .span-2 {
        animation: fadeIn linear 7s infinite;
        animation-delay: 0s;
        -webkit-animation: fadeIn linear 7s infinite;
        -moz-animation: fadeIn linear 7s infinite;
        -o-animation: fadeIn linear 7s infinite;
        -ms-animation: fadeIn linear 7s infinite;
      }

      // Letters fade in and out from 10% - 100% opacity
      .span-3 {
        animation: fadeIn linear 8s infinite;
        animation-delay: 0s;
        -webkit-animation: fadeIn linear 8s infinite;
        -moz-animation: fadeIn linear 8s infinite;
        -o-animation: fadeIn linear 8s infinite;
        -ms-animation: fadeIn linear 8s infinite;
      }

      // Letters fade in and out from 10% - 100% opacity
      .span-4 {
        animation: fadeIn linear 9s infinite;
        animation-delay: 0s;
        -webkit-animation: fadeIn linear 9s infinite;
        -moz-animation: fadeIn linear 9s infinite;
        -o-animation: fadeIn linear 9s infinite;
        -ms-animation: fadeIn linear 9s infinite;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0.1;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.1;
        }
      }

      @keyframes hl {
        0% {
          color: black;
        }
        50% {
          color: yellow;
        }
      }
    }
  }

  #second-box {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 21%,
      rgba(87, 188, 144, 1) 100%
    );

    section {
      //margin: 15rem 3rem inherit 3rem;
      margin-top: 15rem;
      margin-left: 100px;
      margin-right: 100px;
      h1 {
        font-size: 42px;
      }
      p {
        //margin: 15rem 3rem inherit 3rem;
        font-size: 30px;
      }
    }
  }

  #third-box {
    margin: 15rem 3rem 3rem 3rem;
    width: 100vw;
    text-align: center;

    section {
      display: grid;
      grid-template-columns:
        minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
        minmax(0, 1fr);
      grid-template-rows: 5rem;
      grid-auto-rows: 400px;
      overflow: hidden;
      .header {
        grid-column-start: 1;
        grid-column-end: 6;
      }
      // Image on the left, info on the right
      .img-left {
        background-color: $green;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .info-right {
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        grid-column-start: 3;
        grid-column-end: 6;
        border: $dark-grey 2px solid;
      }

      // image on the right, info on the left
      .info-left {
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 4;
      }

      .img-right {
        background-color: $green;
        grid-column-start: 4;
        grid-column-end: 6;
      }
      #vGlut {
        background: url('../images/vGlut.jpg');
        background-size: cover;
      }
      #sunrise {
        background: url('../images/sunrise.jpg');
        background-size: cover;
      }
    }
  }
}
